/* CSS reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Global variables */
:root {
  /* dark shades of primary color*/
  --clr-primary-1: hsl(184, 91%, 17%);
  --clr-primary-2: hsl(185, 84%, 25%);
  --clr-primary-3: hsl(185, 81%, 29%);
  --clr-primary-4: hsl(184, 77%, 34%);
  /* primary/main color */
  --clr-primary-5: hsl(185, 62%, 45%);
  /* lighter shades of primary color */
  --clr-primary-6: hsl(185, 57%, 50%);
  --clr-primary-7: hsl(184, 65%, 59%);
  --clr-primary-8: hsl(184, 80%, 74%);
  --clr-primary-9: hsl(185, 94%, 87%);
  --clr-primary-10: hsl(186, 100%, 94%);
  /* darkest grey - used for headings */
  --clr-grey-1: hsl(209, 61%, 16%);
  --clr-grey-2: hsl(211, 39%, 23%);
  --clr-grey-3: hsl(209, 34%, 30%);
  --clr-grey-4: hsl(209, 28%, 39%);
  /* grey used for paragraphs */
  --clr-grey-5: hsl(210, 22%, 49%);
  --clr-grey-6: hsl(209, 23%, 60%);
  --clr-grey-7: hsl(211, 27%, 70%);
  --clr-grey-8: hsl(210, 31%, 80%);
  --clr-grey-9: hsl(212, 33%, 89%);
  --clr-grey-10: hsl(210, 36%, 96%);
  --clr-white: #fff;
  --ff-primary: "Lato", sans-serif;
  --transition: all 0.3s linear;
  --spacing: 0.25rem;
  --radius: 0.5rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  /* border radius */
}
/* Global styles */
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
body {
  font-family: var(--ff-primary);
  background: var(--clr-white);
  color: var(--clr-grey-1);
  line-height: 1.5;
  font-size: 0.875rem;
}
a,
button,
input[type="submit"] {
  cursor: pointer;
  text-decoration: none;
}
ul {
  list-style: none;
}
img {
  display: block;
  object-fit: cover;
  width: 100%;
  height: 100%;
  max-width: 100%;
}
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  border: none;
  outline: none;
  background: none;
}
fieldset {
  border: none;
}
h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
  font-family: var(--ff-primary);
}
h1 {
  font-size: 3.052rem;
}

h2 {
  font-size: 2.441rem;
}

h3 {
  font-size: 1.953rem;
}

h4 {
  font-size: 1.563rem;
}

h5 {
  font-size: 1.25rem;
}
p {
  font-size: 1.2rem;
  margin-bottom: 1.25rem;
  color: var(--clr-grey-5);
}
@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 3.2rem;
  }
  h3 {
    font-size: 2.6rem;
  }
  h4 {
    font-size: 2.2rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
  p {
    font-size: 1.5rem;
  }
}

.btn {
  display: inline-block;
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: var(--spacing);
  text-transform: uppercase;
  background: var(--clr-primary-5);
  color: var(--clr-white);
  padding: 0.375rem 0.75rem;
  border: 2px solid transparent;
  border-radius: var();
  box-shadow: var();
  transition: var(--transition);
}
.btn:hover {
  color: var(--clr-primary-1);
  background: var(--clr-primary-7);
}
/* Global classes */
.section {
  padding: 5rem 0;
}
.section-title {
  text-align: center;
  margin-bottom: 4rem;
}
.section-title h2 {
  text-transform: uppercase;
}
.section-title span {
  color: var(--clr-primary-5);
}
.section-center {
  width: 90vw;
  max-width: 1170px;
  margin: 0 auto;
}
@media screen and (min-width: 992px) {
  .section-center {
    width: 95vw;
  }
}
/* ---------------------Navbar--------------------- */
/* ---------------------Hero--------------------- */
.hero {
  width: 100%;
  height: 100vh;
  background-color: var(--clr-primary-5);
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero-banner {
  text-align: center;
  color: var(--clr-white);
  padding: 0 3rem;
}
.hero-banner h1 {
  text-transform: uppercase;
}
.hero-banner p {
  max-width: 35rem;
  margin: 0 auto;
  color: var(--clr-white);
  letter-spacing: var(--spacing);
}
.hero-btn {
  margin-top: 1rem;
  font-size: 1.25rem;
  padding: 0.9rem 1.6rem;
  background-color: var(--clr-white);
  color: var(--clr-primary-5);
}
.hero-btn:hover {
  background: transparent;
  color: var(--clr-white);
  border-color: var(--clr-white);
}
@media screen and (min-width: 768px) {
  .hero {
    background: linear-gradient(
        180deg,
        var(--clr-primary-6),
        rgba(0, 0, 0, 0.7)
      ),
      url(./images/main.jpeg) center / cover no-repeat;
  }
  .hero-banner {
    padding: 0;
  }
  .hero-banner p {
    max-width: 45rem;
  }
}
/* ---------------------About--------------------- */
.about-center {
}

.about-img-container {
}
.about-img-container img {
}
.about-img-container,
.about-info {
  margin-bottom: 2rem;
}
.about-info {
}
@media screen and (min-width: 992px) {
  .about-center {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* flex-wrap: wrap; */
    gap: 2rem;
  }
  .about-img-container,
  .about-info {
    flex: 0 0 calc(50%);
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1170px) {
  .about-img-container {
    position: relative;
  }
  .about-img-container::before {
    content: "";
    position: absolute;
    top: -1.5rem;
    left: -1.5rem;
    border: 0.5rem solid var(--clr-primary-5);
    width: 100%;
    height: 100%;
    z-index: -1;
  }
}
/* ---------------------Services--------------------- */
.services {
  background: var(--clr-grey-10);
}
.services-center {
}
.service {
  text-align: center;
  margin-bottom: 3rem;
}
.service-icon {
  display: inline-block;
  font-size: 2rem;
  padding: 0.5rem;
  background-color: var(--clr-primary-5);
  color: var(--clr-primary-1);

  margin-bottom: 1.5rem;
}
.service-info {
}
.service-title {
}
.service-text {
  max-width: 28rem;
  margin: 0 auto;
}
@media screen and (min-width: 568px) {
  .services-center {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 3rem;
    margin: 0 auto;
  }
  .service {
    flex: 0 0 calc(50% - 3rem);
    /* margin-bottom: 0; */
  }
}
@media screen and (min-width: 768px) {
  .service {
    flex: 0 0 calc(33.3% - 3rem);
  }
}
@media screen and (min-width: 992px) {
  .service {
    text-align: left;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
  .service-icon {
    align-self: flex-start;
  }
  .service-title {
    margin-bottom: 0.5rem;
  }
}
/* ---------------------Featured Tours--------------------- */
.tours {
}
.featured-center {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.tour-card {
  background: var(--clr-grey-10);
  box-shadow: var(--light-shadow);
  transition: var(--transition);
}
.tour-card:hover {
  box-shadow: var(--dark-shadow);
  transform: scale(1.02);
}
.tour-container {
  position: relative;
}
.tour-container img {
  height: 25rem;
}
.tour-date {
  position: absolute;
  right: 0;
  bottom: 0;
  margin-bottom: 0;
  background-color: var(--clr-primary-8);
  color: var(--clr-primary-1);
  padding: 0.25rem 0.5rem;
  text-transform: capitalize;
}
.tour-info {
  padding: 1.25rem 1.5rem;
}
.tour-footer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}
.tour-footer p {
  line-height: 0;
  margin-bottom: 0;
  text-transform: capitalize;
  color: var(--clr-primary-5);
}
.tour-btn {
  margin-top: 1.5rem;
  text-align: center;
}
.tour-btn .btn {
}
@media screen and (min-width: 768px) {
  .featured-center {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }
  .tour-card {
    /* -2rem for the gap added */
    flex: 0 0 calc(50% - 2rem);
  }
}
@media screen and (min-width: 992px) {
  .tour-card {
    flex: 0 0 calc(33.3% - 2rem);
  }
}
/* ---------------------Contact--------------------- */

/* ---------------------Gallery--------------------- */
