/* CSS reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Global variables */
:root {
  /* dark shades of primary color*/
  --clr-primary-1: hsl(184, 91%, 17%);
  --clr-primary-2: hsl(185, 84%, 25%);
  --clr-primary-3: hsl(185, 81%, 29%);
  --clr-primary-4: hsl(184, 77%, 34%);
  /* primary/main color */
  --clr-primary-5: hsl(185, 62%, 45%);
  /* lighter shades of primary color */
  --clr-primary-6: hsl(185, 57%, 50%);
  --clr-primary-7: hsl(184, 65%, 59%);
  --clr-primary-8: hsl(184, 80%, 74%);
  --clr-primary-9: hsl(185, 94%, 87%);
  --clr-primary-10: hsl(186, 100%, 94%);
  /* darkest grey - used for headings */
  --clr-grey-1: hsl(209, 61%, 16%);
  --clr-grey-2: hsl(211, 39%, 23%);
  --clr-grey-3: hsl(209, 34%, 30%);
  --clr-grey-4: hsl(209, 28%, 39%);
  /* grey used for paragraphs */
  --clr-grey-5: hsl(210, 22%, 49%);
  --clr-grey-6: hsl(209, 23%, 60%);
  --clr-grey-7: hsl(211, 27%, 70%);
  --clr-grey-8: hsl(210, 31%, 80%);
  --clr-grey-9: hsl(212, 33%, 89%);
  --clr-grey-10: hsl(210, 36%, 96%);
  --clr-white: #fff;
  --ff-primary: "Lato", sans-serif;
  --transition: all 0.3s linear;
  --spacing: 0.25rem;
  --radius: 0.5rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  /* border radius */
}
/* Global styles */
html {
  font-size: 62.5%;
}
body {
  font-family: var(--ff-primary);
  line-height: 1;
  font-weight: 400;
}
a,
button,
input[type="submit"] {
  cursor: pointer;
  text-decoration: none;
}
ul {
  list-style: none;
}
img {
  display: block;
  object-fit: cover;
  width: 100%;
  height: 100%;
  max-width: 100%;
}
.btn {
  display: inline-block;
  font-size: 0.875rem;
  font-weight: 700;
  letter-spacing: var(--spacing);
  text-transform: uppercase;
  background: var(--clr-primary-5);
  color: var(--clr-primary-1);
  padding: 0.375rem 0.75rem;
  border: 2px solid transparent;
  border-radius: var();
  box-shadow: var();
  transition: var(--transition);
}
.btn:hover {
  color: var(--clr-primary-1);
  background: var(--clr-primary-7);
}
/* ---------------------Navbar--------------------- */
/* ---------------------Hero--------------------- */
/* ---------------------About--------------------- */
/* ---------------------Services--------------------- */
/* ---------------------Featured Tours--------------------- */
/* ---------------------Contact--------------------- */
/* ---------------------Gallery--------------------- */
